<app-loading [visible]="isLoading"></app-loading>

<h3>Lista de Pedidos</h3>

<h4>Filtros</h4>

<form [formGroup]="filterForm" class="form-container">
  <div class="form-fields">
    <app-customer-form-field [control]="this.filterForm.controls.customer"
      (customerSelected)="onCustomerSelected($event)"></app-customer-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="status" multiple>
        @for (status of orderStatus; track status) {
        <mat-option [value]="status">
          {{ status }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <app-restaurant-form-field [control]="this.filterForm.controls.restaurantId"
      [allAvailable]="true" [isRequired]="true"></app-restaurant-form-field>
  </div>


  <div class="form-actions">
    <button matButton="filled" type="button" (click)="loadOrders()"
      [disabled]="this.filterForm.invalid">Buscar</button>
    <button matButton type="button" (click)="resetFilters()">Limpiar</button>
  </div>
</form>

<h4>Pedidos</h4>

@if (orders$ | async; as orders) {
  @if (orders.length > 0) {
    <div class="orders-grid">
      @for (order of orders; track order) {
        <app-order-card [order]="order" (statusChanged)="loadOrders()">
        </app-order-card>
      }
    </div>
  } @else {
    <div class="no-orders">
      No hay pedidos.
    </div>
  }
} @else {
  <div class="loading">
    Cargando pedidos...
  </div>
}

