<mat-card class="order-card">
  <mat-card-header>
    <mat-card-title>#{{ order.id }}</mat-card-title>
    <mat-card-subtitle>
      <mat-chip-listbox>
        <mat-chip [ngClass]="getChipClass(order.status)">
          {{ getStatusLabel(order.status) }}
        </mat-chip>
      </mat-chip-listbox>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p><strong>Cliente:</strong> {{ order.customer?.name }} {{ order.customer?.lastName }}</p>
    <p><strong>Restaurante:</strong> {{ order.restaurant?.name }}</p>
    <p><strong>Items:</strong></p>
    <ul>
      @for (orderItem of order.orderItems; track orderItem) {
      <li>
        {{ orderItem.product?.name }} - {{ orderItem.quantity }} x
        {{ orderItem.product?.price | currency:'S/.':'symbol' }}
      </li>
      }
    </ul>
  </mat-card-content>

  <mat-card-actions class="order-actions">
    @if (order.status === 0 && (userRole === 'Admin' || userRole === 'Supervisor' || userRole === 'Cook')) {
      <button matButton="filled" (click)="changeStatusToInProgress()">En preparación</button>
    }
    @if (order.status === 1 && (userRole === 'Admin' || userRole === 'Supervisor' || userRole === 'Waiter')) {
      <button matButton="filled" (click)="changeStatusToDelivered()">Entregado</button>
    }
    @if (userRole === 'Admin' || userRole === 'Supervisor' || userRole === 'Waiter') {
      <button matButton="outlined" (click)="cancelOrder()">Cancelar</button>
    }
  </mat-card-actions>
</mat-card>
