.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.app-title {
  font-weight: bold;
  font-size: 20px;

  text-decoration: none;
  color: inherit;
}

.spacer {
  flex: 1 1 auto;
}
